.side_menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    
    width: 400px;
    height: 344px;

    border: 1px solid black;

    font-size: 27px;
    color: #485863;

    margin-right: 50px;
}

.side_menu_item {
    padding: 20px 25px;
}

.side_menu :hover {
    text-align: center;
    background-color: #DBDBDB;
    color: #35444F;
}