.bottom_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1280px;
    height: 70px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 50px;
    margin-bottom: 30px;
}

.bot_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    align-items: center;

    font-size: 28px;
}

.bot_menu :hover {
    color: lightskyblue;
    text-decoration: underline;
}

.bot_items {
    margin: 0 40px;
}

.copyright {
    font-size: 24px;
}