.logo {
    font-size: 80px;
    padding-top: 61px;
    padding-bottom: 38px;
}

.blue {
    color: lightskyblue;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #35444F;
    width: 1280px;
    height: 70px;
    margin-bottom: 50px;
}

.menu :hover {
    background-color: #222F3A;
}

.menu__icon {
    display: inline-block;
    padding: 26px 40px 19px;
    color: white;
    text-align: center;
    border-left: 1px solid white;
    font-size: 24px;
}
