@import "header.css";
@import "aside.css";
@import "midle_section.css";
@import "footer.css";

.body__main {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin: 0 auto;
    font-family: Roboto;
}
