.main_info {
    display: flex;
    width: 1280px;
}

.img_border {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    width: 830px;
    height: 530px;
    border: 1px solid black;
}

.picture:hover {
    transition: 1s;
    transform: scale(1.2);
}

.text {
    color: #2C2C2C;
    line-height: 24px;
    margin-top: 34px;
}